@model IEnumerable<IceCreamShop.Models.Order>

@{
    ViewBag.Title = "My Shopping Cart";
}

<div class="row">
    
    <div class="col-sm-6" style="margin:auto">
        <h3>My Shopping Cart</h3>

        @foreach (var order in Model)
        {
            IFormatProvider formatProvider = new System.Globalization.CultureInfo("en-US");
        <table class="table">
            @foreach (var item in order.OrderedItems)
        {
            <tr>
                <td>
                    <h5>@item.Name</h5>
                    <p>
                        @{
                        
                        @item.Price.ToString("C", formatProvider)
                        }
                    </p>
                    <ul>
                        @foreach (var ingr in item.AdditionalIngredients)
                    {
                        <li>@ingr.Name  (@ingr.Quantity items)</li>
                }
                    </ul>
                </td>
                <td>
                    <button type="button" class="decreasebtn btn btn-sm" value="@item.Id">-</button>
                    <span class="quantity">@item.Quantity</span>
                    <button type="button" class="increasebtn btn btn-sm" value="@item.Id">+</button>
                </td>
                <td>
                    @{
                        //IFormatProvider formatProvider = new System.Globalization.CultureInfo("en-US");
                        @item.Amount.ToString("C", formatProvider)
                     }
                </td>
                <td>
                    <button class="btndel btn btn-sm" value="@item.Id">X</button>
                </td>
            </tr>
    }
            <tr><td><h6>Total: @order.TotalBill.ToString("C", formatProvider)</h6></td></tr>
        </table>
}
        <button id="tomenu" type="button" class="btn btn-default">Continue shopping</button>
    </div>
    
</div>
        
       
<script src="~/Scripts/MyScripts/ShoppingCart/Index.js"></script>
        


